<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">{{labelText}}</span>
        </div>
        <input class="form-control" formControlName="firstSub" />
        <div class="input-group-append">
            <button class="btn btn-primary" [disabled]="userForm.invalid" type="submit">Go!</button>
        </div>
    </div>

    <div *ngIf="userForm.invalid && (userForm.dirty || userForm.touched)">
        <small *ngIf="firstSub?.errors?.required && firstSub.touched" class="text-danger">
            Input is Required.
        </small>
        <small *ngIf="firstSub?.errors?.pattern && firstSub.invalid" class="text-danger" title="Leave out the {{inputType}} ({{labelText}}) symbol and make sure there are no spaces in the input.">
            Input is not a valid {{inputType}}.
        </small>
    </div>
</form>
