# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
SixDegrees/dist/*
SixDegrees/dist-server/*
SixDegrees/tmp/*
SixDegrees/out-tsc/*
SixDegrees/bin/*
SixDegrees/obj/*
# dependencies
SixDegrees/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vs/*

# IDE - Visual Studio
*.user

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
