@import '../../sass/styles.scss';

.input-group {
    max-width: 20rem; /* 28rem if lg input */
}

.input-group-text {
    background-color: $primary;
    border-color: $primary;
    color: $white;
}
