@import '../../sass/styles.scss';

.navbar {
    background-color: darken($ewu-grey, 10%);
}

.navbar-brand {
    width: fit-content;
    padding: 0;

    @include hover-focus {
        color: $primary;
    }
}

.fa-user-circle {
    color: $ewu-white;
}
