<div class="clearfix mb-4">
    <h1 class="mb-3 d-inline-block align-top">User to User</h1>
    <app-dual-input (userSubmit)="onUserSubmit($event)" inputType="handle"></app-dual-input>
</div>

<div class="card mb-3">
    <div class="card-body">
        {{results | json}}
        <br/>
        <br/>
        <i class="fas fa-user"></i>
        <i class="fas fa-arrow-right"></i>
        <i class="fas fa-user"></i>
        <br/>
        <br/>
        <p *ngIf="!!latestSearch">
            In fact, here's some awesomeness on a stick now! <br/>
            {{latestSearch}}
        </p>
    </div>
</div>
