<div class="dimmed-background" (click)="onXClick()"></div>
<div class="modal d-block" tabindex="-1">

    <div class="modal-content animate modal-fullscreen">

        <div class="modal-header">
            <h5 class="modal-title d-block mx-auto">{{headerContent}}</h5>
            <button type="button" (click)="onXClick()" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <app-graph-card [whatToWhat]="whatToWhat" [nodeData]="clickedDatum" [graph]="this.graph"></app-graph-card>
            <svg (mousedown)="onSVGClick($event)" (mouseup)="onSVGRelease()" class="graph-container col-xl" (mousemove)="onDragEvent($event)"></svg>
        </div>
    </div>
</div>
