<div class="card">
    <div class="card-body">
        <h2 class="mb-3"><i class="fa fa-user-circle mr-2"></i>Log In</h2>
        <label class="d-block">
            Email
            <input class="form-control" [(ngModel)]="email" type="text">
        </label>
        <label class="d-block">
            Password
            <input class="form-control" [(ngModel)]="password" type="password">
        </label>
        <button class="btn btn-primary mt-3" (click)="login()" role="button">Login</button>
        <button class="btn btn-secondary mt-3" (click)="navToRegister()" role="button">Need an account?</button>
        <br />
        {{message}}
    </div>
</div>

