// EWU Standards
$ewu-red: #a10022;
$ewu-white: #fff;
$ewu-black: #000;
$ewu-grey: #6d6e71;
$ewu-sans-serif: 'Mr. Eaves Modern', 'Myriad Pro', 'Arial', sans-serif;
$ewu-serif: 'Adobe Garamond', 'Palatino', serif;
$ewu-fancy-font: 'Serpentine Bold Oblique';

// Twitter
$twitter-dark: #0084b4;
$twitter-logo: #00aced;
$twitter-verfied: #1dcaff;
$twitter-background: #c0deed;
$twitter-white: #fff;

// Overrides
$brand-primary: $twitter-logo;
$brand-secondary: $ewu-grey;
