/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/bootstrap.scss';
/* https://scotch.io/tutorials/using-sass-with-the-angular-cli*/

// Bootstrap overrides
.container-fluid {
    padding: 0 $grid-gutter-width;
}

.input-group-prepend {
    z-index: 2;
}

// Angular overrides
input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
    background-color: lighten($red, 40%);
    border-color: $red !important;

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
    }
}

// Misc
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: darken($light, 25%) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    darken($light, 25%) !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    darken($light, 25%) !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    darken($light, 25%) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    darken($light, 25%) !important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    darken($light, 25%) !important;
}
