@import '../../sass/styles.scss';

.navbar {
  background-color: darken($ewu-grey, 10%);
}

.navbar-brand {
  width: fit-content;
  padding: 0;

  @include hover-focus {
    color: $brand-primary;
  }
}

.fa-user-circle {
  position: absolute;
  top: 0.8375rem;
  right: 1rem;
  color: $ewu-white;
}