@import '../../sass/styles.scss';

.card {
  margin: 1rem 0;
  width: 18rem;
  background-color: $ewu-red;
  
  a {
    color: $ewu-white;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }
}

.card-link {
  height: 8rem;
}
