<div class="col-sm-4">
  <ul class="list-unstyled">
    <li
      [routerLinkActive]='["link-active"]'
      [routerLinkActiveOptions]='{ exact: true }'
      class="card"
    >
      <a [routerLink]='["/"]' class="card-body">
        <p class="card-link">
          Home
        </p>
      </a>
    </li>
    <li
      [routerLinkActive]='["link-active"]'
      [routerLinkActiveOptions]='{ exact: true }'
      class="card"
    >
      <a [routerLink]='["/counter"]' class="card-body">
        <p class="card-link">
          Counter
        </p>  
      </a>
    </li>
    <li
      [routerLinkActive]='["link-active"]'
      [routerLinkActiveOptions]='{ exact: true }'
      class="card"
    >
      <a [routerLink]='["/fetch-data"]' class="card-body">
        <p class="card-link">
          Fetch Data
        </p>
      </a>
    </li>
  </ul>
</div>