@import '../../sass/styles.scss';

.card .card {
    background-color: lighten($twitter-background, 5%);
}

.list-group-item {
    background-color: lighten($twitter-background, 15%);
}

agm-map {
    height: 70vh;
}
