<div class="wrapper">
    <aside *ngFor="let message of messages$ | async; index as i">
        <div class="alert" [ngClass]="{'alert-info': message.style==='info',
            'alert-danger': message.style==='danger',
            'alert-primary':  message.style==='primary'}">

            <button class="close" (click)="dismiss($event, i)">
                <span>&times;</span>
            </button>
            <h4 class="alert-heading text-center">{{message.header}}</h4>
            <hr>
            <p [routerLink]="message.link || ''" class="text-center">{{message.content}}</p>
        </div>

    </aside>
</div>
