<div class="card">
    <div class="card-body">
        <h1 class="mb-3">Geographical Stats</h1>
        <app-single-input (userSubmit)="onUserSubmit($event)"></app-single-input>
        <h3 *ngIf="latestSearch; else fresh">Countries for #{{latestSearch}}:</h3>
        <ng-template #fresh> <h3>Search the Globe for Hashtags!</h3></ng-template>
        <ul class="d-flex list-inline">
            <li *ngFor="let country of countries" class="col list-inline-item">
                <h4>{{ country.name }}</h4>
                <ul class="list-unstyled">
                    <li *ngFor="let place of country.places" class="card">
                        <div class="card-body">
                            <strong>{{ place.type }}: </strong>
                            {{ place.name }}
                            <h5 class="h6 mt-3 mb-1">Hashtags</h5>
                            <ul class="list-group">
                                <li *ngFor="let tag of place.hashtags" class="list-group-item">
                                    {{ tag }}
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
